<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Winston III</title>
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text|Open+Sans">
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <style>
        body { font-family: 'Open Sans', sans-serif; }
        h1, h2, h3, h4, h5, h6 { font-family: 'Crimson Text', serif; }
        .page-header { padding-top: 2em; }
    </style>
</head>
<body class="container">

    <header class="page-header">
        <h1>Hello, I'm here!</h1>
    </header>

    <div id="app">
        <h2>Messages</h2>
        <p v-for="msg in messages">{{ msg }}</p>
        <form action="#" v-on:submit.prevent="put">
            <input type="text" name="usr_in" id="usr_in" v-model="usr_in">
        </form>
    </div>

    <footer>
        <p>&copy; 2017 <a href="https://wbadart.info">Will Badart<a></p>
    </footer>

    <script src="https://unpkg.com/vue"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                messages: [],
                usr_in: '',
            },
            methods: {
                put: function(e) {
                    var msg = e.target[0].value;
                    this.push_msg(msg);
                    $.post('/', {usr_in: msg}).then(this.push_msg)
                    this.usr_in = '';
                },
                push_msg: function(msg) {
                    console.log('pushing', msg);
                    this.messages.push(msg);
                }
            }
        });
        $(document).ready(function() {
            $('input#usr_in').focus();
        });
    </script>

</body>
</html>

